In [13]:
print("hello world") #this is good
print("Hello","I am kawoat","12345" ,sep="\n",end="\n")

hello world
Hello
I am kawoat
12345

In [16]:
# Data type
# 1. String (text)
# 2. Integer (1,2,3,67,2983, -1)
# 3. floating (1.98)
# 4. Boolean (yes/no)
# 5. Nontype ( nothing )

In [ ]:
age = 18
firstname = "kawoat"

In [ ]:
name_input = input()
print("Hello" , name_input)

In [5]:
a = int(input(50))
print("a=",a , type(a))

a= 50 <class 'int'>

In [2]:
# float()
a = float(-2)

In [1]:
# bool()
a = bool(1)
a = bool(3)
a = bool(-4)
print(a,type(a))

True <class 'bool'>

In [7]:
#str
a = str(1)
a = str(True)
a = str(2)
print("a=" , a , type(a))

a= 2 <class 'str'>

In [8]:
a = bool(str(float(-2)))
print(a , type(a))

True <class 'bool'>

# Math

In [10]:
a = 1 + 1
a = 6 - 3
a = 4 * 5
a = int(6 / 3)
a = 6 // 3
a = 7 / 3
a = 7 // 3
a = 2 ** 3
a = 20 % 7
print(a)

6

In [17]:
a = (2 + 2) - (2 * 2) + (3 / 2)
print(a)

1.5

In [ ]:
a = 1
a = a + 4 
a += 4 # a = a + 4

# logical operators

In [39]:
a = 5
2 > 3
a < 7
a < 2
a <= 5
a >= 9
a != 2

True

In [55]:
for x in range(10):
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [ ]:
user_input = int(input())
user_firstname = input()

# Adder Program

In [62]:
first_name = int(input())
second_name = int(input())
adder_result = first_name + second_name
print(adder_result)

3

In [67]:
C = float(input("C"))
F = (C * (9 / 5)) + 32
print("F =" , F)

F = 95.9

In [ ]:
a = 2
a = 3
a = 4
#Ctrl + D เลือกทั้งหมดที่เหมือนกัน

# Maths Function

In [69]:
max(23, 5, 6 , 4)
min(23 , 5 , 7 , 6)

5

# Turtle Library

In [74]:
# import turtle

In [80]:
# turtle()

:

# Home work

In [16]:
import turtle

turtle.width(5)
turtle.forward(1)
turtle.color("black")

turtle.fillcolor("red")
turtle.begin_fill()

turtle.circle(30)
turtle.penup()
turtle.forward(60)
turtle.pendown()
turtle.circle(30)
turtle.penup()
turtle.forward(60)
turtle.pendown()
turtle.circle(30)

turtle.end_fill()

turtle.color("black")

turtle.fillcolor("blue")
turtle.begin_fill()


turtle.left(-110)
turtle.forward(200)
turtle.right(145)
turtle.forward(200)
turtle.right(105)
turtle.forward(150)
turtle.left(180)
turtle.forward(150)
turtle.right(90)

turtle.end_fill()

turtle.penup()
turtle.right(-5)
turtle.forward(60)
turtle.pendown()

turtle.fillcolor("green")
turtle.begin_fill()

turtle.color("green")
turtle.circle(-70,190)
turtle.right(175)
turtle.circle(10,180)
turtle.right(180)
turtle.circle(10,180)
turtle.right(180)
turtle.circle(10,180)
turtle.right(180)
turtle.circle(10,180)
turtle.right(180)
turtle.circle(10,180)
turtle.right(180)
turtle.circle(10,180)
turtle.right(180)
turtle.circle(10,180)

turtle.end_fill()

turtle.penup()
turtle.left(180)
turtle.forward(100)
turtle.right(90)
turtle.forward(50)

turtle.color("red")
turtle.pendown()
turtle.fillcolor("red")
turtle.begin_fill()
turtle.circle(-20)
turtle.end_fill()
turtle.penup()
turtle.right(90)
turtle.forward(20)
turtle.left(140)
turtle.forward(10)
turtle.color("black")
turtle.pendown()
turtle.forward(30)


turtle.mainloop()

# Day5

In [ ]:
PI = 3.14
Math = 2.7

In [22]:
if (3 >= 2) and (6 > 5):
    print("Nooo")

Nooo

In [24]:
if not((3 <= 2) and (6 > 5)):
    print("Nooo")

Nooo

In [27]:
if 5 > 4 and 8 > 4:
    if 5 < 4:
        print("nooo")
    print("Yess") 
print("WOW")

Yess
WOW

# Elif

In [33]:
a = float(input())

if a < 50:
    print("yes")
elif a > 50 :
    print("no")
else:
    print('a')

a

In [37]:
a = int(input())

if a > 3:
    print("A")
elif a > 10: 
    print("B")
elif a > 20:
    print("C") 
elif a < 4:
    print("D")

A

In [43]:
pocket_money = float(input("Money"))
age = int(input("AGE"))

if pocket_money > 3000:
    print("pizza")
    if age < 20:
        print('water')
    else:
        print("alcohol")
elif pocket_money > 2000:
    print('Buffet')
    print('cocacola') 
elif pocket_money > 200:
    print('somtam')
    print('water')
elif pocket_money < 100:
    print("Mama")
    print('water')

pizza
water

In [46]:
a = int(input())
b = int(input())
print(a % b)

10

In [2]:
p = int(input())
print(p % 10)

4

In [52]:
ngl = input()
F = int(str(ngl))
print(F)

456

In [1]:
ngl = input()

print(ngl / 10)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [ ]:
a = int(input())
b = int(input())
c = a * (3 ** b)
print(c)

In [ ]:
m = int(input())
n = m // 60
o = m % 60
print(n)
print(o)

# Day 6

In [15]:
T = int(input())
if  T > 35:
    print("CANCEL SCHOOL")
elif T > 30:
    print("CANCEL TWO CLASSES")
else:
    print("NORMAL CLASSES")

NORMAL CLASSES

# Loop

In [ ]:
while True:
    print("Hello")

In [19]:
number = 1
while number <= 5:
    print(number)
    number += 1
print(number)

1
2
3
4
5
6

In [23]:
number = 2
while number <= 20:
    print(number)
    number += 2

2
4
6
8
10
12
14
16
18
20

In [26]:
number = 1
while number <= 21:
    print(number)
    number += 2

1
3
5
7
9
11
13
15
17
19
21

In [2]:
a = int(input())
b = int(input())
c = int(input())

if a >= c and b >= c:
    print(b + a)
elif a <= c and a <= b:
    print(b + c)
elif b <= c and a >= b:
    print(a + c) 
else:
    print(a + b)

20

In [8]:
n = int(input())
if n % 7 == 0:
    if n % 11 ==0:
       print("NO") 
    else:
        print("YES")  
else :
    print("NO")

NO

# For loop

In [11]:
for number in range(20, 5 , -3):
    if number % 2 == 0:
        print(number)

20
14
8

In [18]:
for number in range(1 , 11):
    print(number ** 2)

1
4
9
16
25
36
49
64
81
100

In [19]:
for number in range(1 , 11):
    r = number ** 2
    print(r)

1
4
9
16
25
36
49
64
81
100

In [26]:
h = int(input())

if h >= 5 and h <= 9:
    print("open")
else:
    print("closed")

closed

In [ ]:
n = int(input())
m = int(input())
print(n)

In [ ]:
n = int(input())
m = int(input())

if n <= m:
    print(n)
elif m <= n:
    print(m)

In [29]:
s = int(input())

if 0 <= s <= 40:
    print("Emerging")
elif 41 <= s <= 80:
    print("Developing")
elif 81 <= s <= 100:
    print("Achieved")

Achieved

In [ ]:

a = int(input())
b = int(input())
c = int(input())
d = int(input())

if (a <= c and b <= d) or (a <= d and b <= c):
    print("YES")

else:
    print("NO")

# range(start , stop , step)

In [37]:
n = int(input())

for n in range(n , 0 , -1):
    print(n)

5
4
3
2
1

In [41]:
n = int(input())

a = n * (n + 1) * (2 * n + 1) // 6
print(a)

14

In [47]:
n = int(input())
a = 0
for i in range(n):
    a += int(input())
print(a)

18

In [44]:
for i in range(2 , 5):
    for n in range(2 ,6 , 2 ):
        print(i , n)

2 2
2 4
3 2
3 4
4 2
4 4

In [77]:
a = int(input())
b = int(input())

for i in range(a, b + 1):
    if i % 2 == 0:
        print(i)

2
4
6
8

In [79]:
n = int(input())
a = 0 

for i in range(n):
    if int(input()) == 0:
        a += 1

print(a)

1

In [81]:
n = int(input())
a = n
for i in range(1 , n):
    a += i - int(input())
   
print(a)

2

In [87]:
a = int(input())
b = int(input())
c = str(a) + str(b)
d = str(a + b)
print(c + " " + d)

12 3

In [89]:
s = input()
i = int(input())
print(s[i - 1])

h

In [90]:
a = input()
b = input()
c = len(a) // 2
print(a[:c] + b + a[c:])

abcba

In [92]:
a = input()

c = len(a) // 2 
print(a[c:] + a[:c])

dfas

In [96]:
a = input()

c = (len(a) -1) // 2 
print(a[c - 1 : c + 2])

xyz

# Nested Loop

In [48]:
for i in range(5):
    for j in range(1 , i):
        print(i * j)

2
3
6
4
8
12

# String

In [51]:
a1 = "Hello "
a2 = "kawoat"
a1 * 5

'Hello Hello Hello Hello Hello '

## Index

In [70]:
s = "Hello, world !"
    #01234567891011
s[0:6:2]

'Hlo'

In [76]:
s = "Hello kawoat"
s[6:12]

'kawoat'

# Day 8

# F-string

In [98]:
user_name = input()
age = input()

a = "Hello," + user_name + ", Your age is " + age + "."

print(a)

Hello,kawoat, Your age is 18.

# in / not in operators

In [101]:
s = " Hello kawoat"
print("o" in a)
print("ak" in a)
print("aw" in a)
print("ll" in a)

True
False
True
True

In [103]:
s.upper()
s.isupper()
s = "Hello kawoat"
s.replace("l" , "o")

'Heooo kawoat'

# Loop by

In [104]:
s = "Hello kawoat"
for a in s:
    print(a)

H
e
l
l
o

k
a
w
o
a
t

In [115]:
s = "Hello kawoat"
for a,b in enumerate(s):
    print(a ,b)

0 H
1 e
2 l
3 l
4 o
5
6 k
7 a
8 w
9 o
10 a
11 t

In [116]:
a = input()
for i in a:
    print(i)

a
s
d
f

In [122]:
a = input()
c = 0
for b in a :
    if b == "f":
        c += 1

print(c)

8

In [127]:
a = input()
c = 0
d = 0
for b in a:
    if b == str("A"):
        c += 1
    else :
        d += 1
if c > d:
    print("ALICE") 
elif d > c:
    print("BOB") 
else :
    print("DRAW")

DRAW

In [130]:
a = input()
b = 0
c = 0

for d in range(len(a ,0, -1)):
    b += 1
    print(b)

TypeError: len() takes exactly one argument (3 given)

In [ ]:
s = input()
n = len(s)
is_palindrome = True

for i in range(n // 2):
    if s[i] != s[n - i - 1]:
        is_palindrome = False
        break

print("YES" if is_palindrome else "NO")

In [133]:
a1 = input()
a2 = len(a1)
c = ""
for b in range(a2 - 1 , -1 , -1 ):
    c += a1[b]
if a1 == c:
    print("YES")
else :
    print("NO")

NO

In [135]:
a = input()

print(*a,sep="_")

h_e_l_l_o

In [136]:
a = input()

for n in a:
    n += "_"
    print(n)

f_

In [144]:
a = input()
b = ""

for n,m in enumerate(a):
    b += m
    if n != len(a)-1:
       b += "_"
print(b)

h_e_l_l_o

# List

In [ ]:
a = []
a = list()

b = [1 ,2 ,3 ,4]
c = [1,0,3,True,"kawoat",None,print,input,a ]

In [148]:
a = [1 , True , 0.5 , "kawoat" , None , print]
a[1:4]

[True, 0.5, 'kawoat']

In [150]:
a = [1 ,2 , 3]
a.append(4)
a

[1, 2, 3, 4]

In [157]:
a = [1 ,2 , 3]
a.append(4)
a
a.insert(1,False)
a
a.extend([5 , 6 , 7 , 8])
a.remove(5)
a

[1, False, 2, 3, 4, 6, 7, 8]

# DAY 10

# *List

In [161]:
a = [1 ,2 ,3 ,1 ,4]
a.reverse()
a

[4, 1, 3, 2, 1]

In [162]:
l = ["abcd" , "efgh"]
l.sort()
l

['abcd', 'efgh']

In [163]:
a = [1 ,2 ,3 ,1 ,4]
a.sort
a

[1, 2, 3, 1, 4]

In [166]:
a = [1 ,2 ,3 ,1 ,4 , [3]]
if 5 in a:
    print("YES")
else :
    print("Noooo")

Noooo

In [168]:
a = [1.55555555555555555 ,2 ,3 ,1 ,4]
list(map(int, a))

[1, 2, 3, 1, 4]

In [169]:
l = [ 0 , 1 , 0.0 ]
list(map(int,l))

[0, 1, 0]

In [173]:
l = input().split()
list(map(int , l))

[1, 2, 3, 4, 5]